@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800;900&display=swap");

body {
  font-family: "Mulish", sans-serif;
  background-color: #f5f6f8;
}

/* MAIN */

.btn-outline-primary .btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:visited {
  background: #5f2eea !important;
  color: white !important;
}

.btn-outline-primary {
  color: #5f2eea;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #5f2eea;
  background-color: rgba(239, 240, 246, 1);
}

.order_card-movie {
  border-radius: 8px;
}
.order_card-seat {
  border-radius: 8px;
  padding: 50px;
}
.order_card-info {
  border-radius: 8px;
  padding-top: 20px;
}

.order_card-info-body {
  padding: 30px;
}

.premiere-img {
  padding-bottom: 15px;
}

.premiere-name {
  padding-bottom: 25px;
}

#order {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f5f6f8;
}

.order {
  background-color: #f5f6f8;
}
/* sitting key */
.screen-line {
  width: 550px;
  margin: auto;
  height: 4px;
  background-color: #9ca3af;
  border-color: 1px solid #9ca3af;
}

.order_seating-key {
  padding-top: 30px;
}

.row-seating-key {
  padding-top: 10px;
}

.square-available {
  border: 1px solid #9ca3af;
  background-color: rgba(214, 216, 231, 1);
  border-radius: 5px;
  color: rgba(214, 216, 231, 1);
}

.square-selected {
  border: 1px solid #9ca3af;
  background-color: rgba(95, 46, 234, 1);
  border-radius: 5px;
  color: rgba(95, 46, 234, 1);
}

.square-sold {
  border: 1px solid #9ca3af;
  background-color: rgba(110, 113, 145, 1);
  border-radius: 5px;
  color: rgba(110, 113, 145, 1);
}
/*akhir  sitting key */

.lower-button-change,
.lower-button-checkout {
  width: 300px;
  height: 56px;
  border-radius: 8px;
}

/* AKHIR MAIN */

@media (max-width: 767.98px), (max-width: 991.98px) {
  /* MAIN */
  main {
    margin: 80px 0;
  }

  .order_info h4,
  .order_seat-wrap h4 {
    text-align: center;
  }

  .wrap-button,
  .wrap {
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
  }

  .order_movie-wrap {
    display: none;
  }

  .order_card-seat {
    width: 350px;
    text-align: center;
  }

  .order_info {
    padding-top: 30px;
  }

  /* sitting key */
  .square-available,
  .square-selected,
  .square-sold {
    font-size: 9px;
  }
  /*akhir  sitting key */

  .lower-button-change {
    display: none;
  }

  .lower-button-checkout {
    width: 350px;
    height: 56px;
  }
  /* AKHIR MAIN */
}
