@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800;900&display=swap");

body {
  font-family: "Mulish", sans-serif;
  background-color: #f5f6f8;
}

/* section #manage schedule */

#manageschedule {
  padding-top: 150px;
  background-color: #f5f6f8;
}

.manageschedule_border {
  padding: 20px 0;
  border-radius: 30px;
  border: 1px solid #fff;
}

.btn-outline-danger:hover,
.btn-outline-danger:active,
.btn-outline-danger:visited {
  background-color: red !important;
  color: #fff !important;
}

.btn-outline-danger {
  color: red;
  border: 2px solid red;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:visited {
  background-color: #5f2eea !important;
  color: #fff !important;
}

.btn-outline-primary {
  border: 2px solid #5f2eea !important;
  color: #5f2eea !important;
}

.select-movie {
  max-height: 300px;
  overflow: scroll;
}
.manageschedule_image-card {
  display: grid;
  place-items: center;
}

.manageschedule_image-movie {
  width: 200px;
}

.manageschedule_data-movie-one label,
.manageschedule_data-movie-two label,
.manageschedule_data-movie-three label {
  font-size: 16px;
  font-weight: 400;
  color: #4e4b66;
}

.premiere_wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.premiere_button {
  width: 125px;
  height: 60px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.premiere_img {
  max-width: 100px;
}

.manageschedule_data-movie-one .form-select,
.manageschedule_data-movie-one input,
.manageschedule_data-movie-two .form-select,
.manageschedule_data-movie-two input,
.manageschedule_data-movie-three input {
  padding: 15px 10px;
  height: 56px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
}

.manage_time {
  text-align: left;
  padding: 5px;
  font-size: 12px;
  justify-content: space-around;
  align-content: space-between;
}

.manage_time button {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
}

.time_wrapper {
  padding-left: 100px;
  min-width: 220px;
}

.time-plus {
  width: 60px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
}

.manage_time button {
  width: 80px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  font-family: "Mulish", sans-serif;
}

.reset-manageschedule {
  padding-right: 10px;
}

.button-manageschedule-wrap {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.reset-manageschedule-button,
.submit-manageschedule-button {
  width: 150px;
  height: 50px;
  border-radius: 7px;
  border: 3px solid #5f2eea !important;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

/* end of section #manage movie*/

/* section #manage_viewall-filter */
#dataschedule_filter {
  padding-top: 60px;
  padding-bottom: 20px;
  background-color: #f5f6f8;
}

#dataschedule_filter h4 {
  margin: 5px;
  font-weight: 600;
  font-size: 24px;
  color: rgba(0, 0, 0, 1);
}

#dataschedule_filter .form-select {
  width: 150px;
  height: 60px;
  margin: 5px;
  border-radius: 16px;
  font-size: 16px;
  color: rgba(78, 75, 102, 1);
  border: 2px solid white;
  box-sizing: border-box;
  margin-right: 10px;
}
/* end of section  #manage_viewall-filter */
#manageschedule-movie {
  background-color: #f5f6f8;
}
.manageschedule_wrap-card {
  background-color: white;
  border-radius: 30px;
  padding: 50px 60px;
  border: 1px solid #fff;
}

.manageschedule_card {
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  width: auto;
}

.manageschedule_time-wrapper {
  min-height: 110px;
}

.manageschedule_time {
  font-size: 12px;
  font-weight: 600;
  color: #4e4b66;
  font-family: "Mulish", sans-serif;
  width: 75px;
  padding: 0;
}

.manageschedule_card:hover {
  border: 3px solid #5f2eea !important;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.managedataschedule_update-button,
.managedataschedule_delete-button {
  width: 130px;
  height: 45px;
}

@media (max-width: 767.98px) {
  /* section #manage movie*/
  .manageschedule_image-card {
    display: grid;
    place-items: center;
  }

  .manageschedule_image-movie {
    width: 200px;
  }

  .manageschedule_data-movie-one {
    padding-top: 30px;
  }

  .manageschedule_data-movie-one label,
  .manageschedule_data-movie-two label,
  .manageschedule_data-movie-three label {
    font-size: 13px;
    font-weight: 400;
    color: #4e4b66;
  }

  .manageschedule_data-movie-one .form-select,
  .manageschedule_data-movie-one input,
  .manageschedule_data-movie-two .form-select,
  .manageschedule_data-movie-two input,
  .manageschedule_data-movie-three input {
    padding: 15px 10px;
    height: 56px;
    border-radius: 16px;
    font-size: 13px;
    font-weight: 400;
    color: #4e4b66;
  }

  .button-manage {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .reset-manageschedule {
    padding: 10px 0;
  }

  .reset-manage-button,
  .submit-manage-button {
    width: 220px;
    height: 40px;
  }
  /* end of section #manage movie*/

  /* section #manage movie */
  .manage_viewall-filter-wrap {
    display: flex;
    flex-direction: column;
  }

  .manage_viewall-filter-wrap {
    text-align: start;
  }

  .manage_viewall_input {
    width: fit-content;
  }

  /* end of section #manage movie */

  /* manage_viewall */
  #manage_viewall {
    background-color: #d6d8e7;
  }

  .manage_viewall_overflow-movie {
    padding: 10px;
    margin: 0;
    border-radius: 5px;
  }

  .manage_viewall-card {
    width: 12rem;
  }

  .manage_viewall-img {
    width: 100px;
  }

  .manage_viewall_border-card {
    justify-items: center;
    align-items: center;
  }

  .manage_viewall_border-card .card {
    border-radius: 10px;
    place-content: center;
  }
  /* end of manage_viewall */
}

@media (max-width: 991.98px) {
  /* section #manage movie*/
  .manage_image-card {
    display: grid;
    place-items: center;
  }

  .manage_image-movie {
    width: 200px;
  }

  .manage_data-movie-one {
    padding-top: 30px;
  }

  .manage_data-movie-one label,
  .manage_data-movie-two label,
  .manage_data-movie-three label {
    font-size: 13px;
    font-weight: 400;
    color: #4e4b66;
  }

  .manage_data-movie-one input,
  .manage_data-movie-two input,
  .manage_data-movie-three input {
    padding: 15px 10px;
    height: 56px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 400;
    color: #4e4b66;
  }

  .button-manage {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .reset-manage {
    padding: 10px 0;
  }

  .reset-manage-button,
  .submit-manage-button {
    width: 220px;
    height: 40px;
  }
  /* end of section #manage movie*/

  /* section #manage movie */
  .manage_viewall-filter-wrap {
    text-align: start;
  }

  .manage_viewall_input {
    width: fit-content;
  }

  /* end of section #manage movie */

  /* manage_viewall */
  #manage_viewall {
    background-color: #d6d8e7;
  }

  .manage_viewall_overflow-movie {
    padding: 10px;
    margin: 0;
    border-radius: 5px;
  }

  .manage_viewall-card {
    width: 12rem;
  }

  .manage_viewall-img {
    width: 100px;
  }

  .manage_viewall_border-card {
    justify-items: center;
    align-items: center;
  }

  .manage_viewall_border-card .card {
    border-radius: 10px;
    place-content: center;
  }
  /* end of manage_viewall */
}

/* PAGINATION */
.pagination {
  margin: 60px auto;
  display: flex;
  list-style: none;
  outline: none;
  justify-content: center;
}
.pagination > .active > a {
  background-color: #5f2eea;
  border-color: #5f2eea;
  color: #fff;
}
.pagination > li > a {
  border: 1px solid #5f2eea;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 8px;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #5f2eea;
  border-color: #5f2eea;
  outline: none;
  border-radius: 8px;
}
.pagination > li > a,
.pagination > li > span {
  color: #5f2eea;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 8px;
  text-decoration: none;
}

@media (max-width: 1199.98px) {
  /* manage viewall */
  .manage_viewall-img {
    padding-top: 20px;
    width: 170px;
  }

  .manage_viewall-card {
    width: 13rem;
  }
  /* end of manage viewall */
}
