@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800;900&display=swap");

body {
  font-family: "Mulish", sans-serif;
}

/* section #manage movie */

#managemovie {
  padding-top: 150px;
  background-color: #f5f6f8;
}

.btn-outline-danger:hover,
.btn-outline-danger:active,
.btn-outline-danger:visited {
  background-color: red !important;
  color: #fff !important;
}

.btn-outline-danger {
  color: red;
  border: 2px solid red;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:visited {
  background-color: #5f2eea !important;
  color: #fff !important;
}

.btn-outline-primary {
  border: 2px solid #5f2eea;
  color: #5f2eea;
}

.manage_image-card {
  display: grid;
  place-items: center;
}

.manage_image-movie {
  width: 200px;
}

.manage_data-movie-one label,
.manage_data-movie-two label,
.manage_data-movie-three label {
  font-size: 16px;
  font-weight: 400;
  color: #4e4b66;
}

.manage_data-movie-one input,
.manage_data-movie-two input,
.manage_data-movie-three input {
  padding: 15px 10px;
  height: 56px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 400;
}

.reset-manage {
  padding-right: 10px;
}

.reset-manage-button,
.submit-manage-button {
  width: 90px;
  height: 40px;
}

.btn-outline-white:hover,
.btn-outline-white:active,
.btn-outline-white:visited {
  background-color: white !important;
  border: 1px solid #5f2eea !important;
}

.btn-outline-white .btn {
  color: white;
  border: 2px solid whitesmoke !important;
  margin-right: 10px;
  width: 60px;
  height: 25px;
  border-radius: 16px;
  background-color: #fff;
  /* box-shadow: none !important; */
}

.premiere_img {
  width: 60px;
}

.select-movie .form-select {
  max-width: 340px;
}

/* end of section #manage movie*/

/* section #manage_viewall-filter */
#manage_viewall-filter {
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: #f5f6f8;
}

#manage_viewall-filter h4 {
  margin: 5px;
  color: black;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}

#manage_viewall-filter form select {
  width: 100px;
  height: 40px;
  margin: 5px;
  border-radius: 10px;
  font-size: 16px;
  color: rgba(78, 75, 102, 1);
  border: 2px solid white;
  box-sizing: border-box;
  margin-right: 10px;
}

#manage_viewall-filter-wrap form input {
  width: 300px;
  height: 40px;
  margin: 5px;
  border-radius: 10px;
  color: rgba(78, 75, 102, 1);
  border: 2px solid white;
  box-sizing: border-box;
  padding: 6px 12px;
}
.manage_viewall_input {
  width: 310px;
  height: 40px;
  margin: 5px;
  border-radius: 10px;
  color: rgba(78, 75, 102, 1);
  border: 2px solid white;
  box-sizing: border-box;
  padding: 6px 12px;
}
/* end of section  #manage_viewall-filter */

/* manage_viewall */
#manage_viewall {
  margin: auto;
  border-radius: 8px;
  text-align: space-between;
  border-radius: 4px;
  background-color: #f5f6f8;
}

.manage_viewall_overflow-movie {
  margin: 20px 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.manage_viewall-img {
  padding-top: 20px;
  width: 200px;
  height: 340px;
}

.manage_viewall-card {
  width: 16rem;
}

.manage_viewall_border-card {
  margin: auto;
  padding: 10px;
  display: grid;
  place-content: center;
}
.manage_viewall_border-card .card {
  border-radius: 10px;
  place-content: center;
}

.manageschedule_time-wrapper {
  min-height: 120px;
}

.manageschedule_time {
  font-family: "Mulish", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

#pagination {
  background-color: #f5f6f8;
}
/* end of manage_viewall */

@media (max-width: 767.98px) {
  /* section #manage movie*/
  .manage_image-card {
    display: grid;
    place-items: center;
  }

  .manage_image-movie {
    width: 200px;
  }

  .manage_data-movie-one {
    padding-top: 30px;
  }

  .manage_data-movie-one label,
  .manage_data-movie-two label,
  .manage_data-movie-three label {
    font-size: 13px;
    font-weight: 400;
    color: #4e4b66;
  }

  .manage_data-movie-one input,
  .manage_data-movie-two input,
  .manage_data-movie-three input {
    padding: 15px 10px;
    height: 56px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 400;
    color: #4e4b66;
  }

  .button-manage {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .reset-manage {
    padding: 10px 0;
  }

  .reset-manage-button,
  .submit-manage-button {
    width: 220px;
    height: 40px;
  }
  /* end of section #manage movie*/

  /* section #manage movie */
  .manage_viewall-filter-wrap {
    display: flex;
    flex-direction: column;
  }

  .manage_viewall-filter-wrap {
    text-align: start;
  }

  .manage_viewall_input {
    width: fit-content;
  }

  /* end of section #manage movie */

  /* manage_viewall */
  #manage_viewall {
    background-color: #d6d8e7;
  }

  .manage_viewall_overflow-movie {
    padding: 10px;
    margin: 0;
    border-radius: 5px;
  }

  .manage_viewall-card {
    width: 12rem;
  }

  .manage_viewall-img {
    width: 100px;
  }

  .manage_viewall_border-card {
    justify-items: center;
    align-items: center;
  }

  .manage_viewall_border-card .card {
    border-radius: 10px;
    place-content: center;
  }
  /* end of manage_viewall */
}

@media (max-width: 991.98px) {
  /* section #manage movie*/
  .manage_image-card {
    display: grid;
    place-items: center;
  }

  .manage_image-movie {
    width: 200px;
  }

  .manage_data-movie-one {
    padding-top: 30px;
  }

  .manage_data-movie-one label,
  .manage_data-movie-two label,
  .manage_data-movie-three label {
    font-size: 13px;
    font-weight: 400;
    color: #4e4b66;
  }

  .manage_data-movie-one input,
  .manage_data-movie-two input,
  .manage_data-movie-three input {
    padding: 15px 10px;
    height: 56px;
    border-radius: 10px;
    font-size: 13px;
    font-weight: 400;
    color: #4e4b66;
  }

  .button-manage {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .reset-manage {
    padding: 10px 0;
  }

  .reset-manage-button,
  .submit-manage-button {
    width: 220px;
    height: 40px;
  }
  /* end of section #manage movie*/

  /* section #manage movie */
  .manage_viewall-filter-wrap {
    text-align: start;
  }

  .manage_viewall_input {
    width: fit-content;
  }

  /* end of section #manage movie */

  /* manage_viewall */
  #manage_viewall {
    background-color: #d6d8e7;
  }

  .manage_viewall_overflow-movie {
    padding: 10px;
    margin: 0;
    border-radius: 5px;
  }

  .manage_viewall-card {
    width: 12rem;
  }

  .manage_viewall-img {
    width: 100px;
  }

  .manage_viewall_border-card {
    justify-items: center;
    align-items: center;
  }

  .manage_viewall_border-card .card {
    border-radius: 10px;
    place-content: center;
  }
  /* end of manage_viewall */
}

@media (max-width: 1199.98px) {
  /* manage viewall */
  .manage_viewall-img {
    padding-top: 20px;
    width: 170px;
  }

  .manage_viewall-card {
    width: 13rem;
  }
  /* end of manage viewall */
}
