@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800;900&display=swap");

body {
  font-family: "Mulish", sans-serif;
  background-color: #f5f6f8;
}
.profile_container {
  padding-top: 130px;
  min-height: 1300px;
}
.info_card {
  background-color: #fff;
  height: 425px;
  border-radius: 24px;
  border-color: #fff;
}
.info_card-body {
  padding: 25px 30px;
}
.profile_navigation {
  margin-bottom: 80px;
}
.navigation_card {
  background-color: #fff;
  height: 74px;
  border-radius: 24px;
  border-color: #fff;
}
.profile_img {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  margin: auto;
  margin-top: 30px;
  object-fit: cover;
}
.profile_name {
  text-align: center;
  margin-top: 25px;
}
.profile_role {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
.button_logout {
  width: 100%;
  height: 46px;
  border-radius: 16px;
  background-color: #5f2eea;
  color: #fff;
  margin: 10px 0;
}
.navigation_button {
  background: #fff;
  text-align: top;
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #aaa;
  border: none;
}
.e {
  border: none;
}
.navigation_button::after {
  border: none;
}
