@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Mulish:wght@400;600;700&family=Open+Sans&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* STYLE */

body {
  background-color: rgb(211, 210, 210);
}

.home_container {
  background-color: white;
  display: flex;
  flex-direction: column;
}

/* OPENING */
.home_opening {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: flex-end;
  padding-top: 10%;
}

.home_opening-tagline {
  flex: 1;
  display: flex;
}

.home_opening-tagline img {
  margin: auto;
}

.home_opening-picture {
  flex: 1;
}
/* END OF OPENING */

/* MAIN */
.home_now-showing {
  display: flex;
  flex-direction: column;
  background-color: #f5f6f8;
  box-sizing: border-box;
}

.home_now-showing__link {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 3%;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  color: rgba(95, 46, 234, 1);
}

.home_now-showing__link a {
  color: rgba(95, 46, 234, 1);
  text-decoration: none;
  font-weight: 600;
}

.home_now-showing__left {
  text-decoration: underline 4px;
  text-underline-offset: 10px;
  font-family: "Mulish", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgba(20, 20, 43, 1);
}

.home_now-showing__movie {
  width: 80%;
  margin: auto;
  display: flex;
  overflow-x: auto;
  justify-content: space-evenly;
}

.home_upcoming-movie {
  display: flex;
  flex-direction: column;
}

.home_upcoming-movie__link {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 3%;
  font-family: "Mulish";
  font-size: 16px;
  text-decoration: none;
}

.home_upcoming-movie__link a {
  text-decoration: none;
  color: rgba(95, 46, 234, 1);
  font-weight: 600;
}

.home_upcoming-movie__left {
  text-decoration: none;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: rgba(20, 20, 43, 1);
}

.home_container-month {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 40px;
  overflow: hidden;
  overflow-x: auto;
  cursor: pointer;
  justify-content: flex-end;
  padding-left: 3%;
  padding-right: 3%;
  box-sizing: border-box;
}

.home_month {
  width: 135%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.home_month button {
  flex: 2;
  width: 200px;
  height: 42px;
  margin-right: 5px;
  border: 1px solid #5f2eea;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: rgba(95, 46, 234, 1);
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.home_month button:hover {
  background-color: #5f2eea;
  color: #fff;
}

.home_upcoming-movie__main {
  background-color: #fff;
  margin: 10px;
  overflow: hidden;
  display: flex;
  border: 1px bold rgba(255, 255, 255, 1);
  display: flex;
  overflow-x: auto;
  justify-content: space-evenly;
  padding-bottom: 7%;
}

.home_card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(222, 222, 222, 1);
  border-radius: 10px;
  align-items: center;
}

.home_card .home_header {
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 30px;
}

.home_card .home_content {
  text-align: center;
  padding-bottom: 20px;
  padding: 15px;
}

.home_card .home_content h3 {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: rgba(20, 20, 43, 1);
  margin-bottom: 10px;
}

.home_card .home_content p {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: rgba(160, 163, 189, 1);
  margin-bottom: 50px;
}

.home_card button {
  width: 160px;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #5f2eea;
  border: 1px solid #5f2eea;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
}

/* END OF MAIN */

@media only screen and (max-width: 768px) {
  .home_opening {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
  }

  .home_opening-tagline img {
    height: 80px;
    padding-top: 100px;
    padding-bottom: 20px;
  }

  .home_opening-picture img {
    width: 300px;
    padding: 5px;
  }
}
