@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Mulish:wght@400;600;700&family=Open+Sans&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* STYLE */

body {
  background-color: rgb(211, 210, 210);
}

.home_container {
  background-color: white;
  display: flex;
  flex-direction: column;
}

/* OPENING */
#home1 {
  padding-top: 200px;
}
/* END OF OPENING */

/* MAIN */
#nowshowing {
  background: rgba(245, 246, 248, 1);
  /* margin-bottom: 100px; */
  min-height: 760px;
}

#nowshowing .h4 {
  font-weight: 700;
  color: rgba(95, 46, 234, 1);
  text-underline-offset: 10px;
}

#nowshowing .p {
  font-size: 16px;
  font-weight: 700;
  color: rgba(95, 46, 234, 1);
}

.nowshowing_overflow-movie {
  margin: 4px, 4px;
  padding: 4px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.nowshowing_movie-card {
  max-width: 450px;
  height: 340px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 70px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  /* position: relative; */
}

.nowshowing_movie-card:hover {
  height: 500px;
}

.nowshowing_movie-detail {
  position: relative;
  margin-top: 20px;
  padding: 20px 15px;
  text-align: center;
  color: #111;
  opacity: 0;
  display: flex;
  flex-direction: column;
}

.nowshowing_movie-card:hover .nowshowing_movie-detail {
  visibility: visible;
  opacity: 1;
  margin-top: 15px;
  transition-delay: 0.3s;
}

.nowshowing_movie-img {
  width: 220px;
  height: 320px;
  margin: auto;
  padding-top: 15px;
}

.category {
  padding-bottom: 20px;
}
.detail {
  margin-top: 20px;
  height: 60px;
}
.btn-detail {
  top: -20px;
  width: 100%;
}
/* end nowshowing */

#upcomingmovie {
  background-color: white;
  position: relative;
  /* top: 40px; */
}

#upcomingmovie .container {
  /* margin-top: 8%; */
  /* margin-bottom: 8%; */
}

#upcomingmovie .h4 {
  font-weight: 700;
  color: rgba(95, 46, 234, 1);
}

#upcomingmovie .p {
  font-size: 15px;
  font-weight: 700;
  color: rgba(95, 46, 234, 1);
}

.upcomingmovie_overflow-movie {
  margin: 4px, 4px;
  padding: 15px;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.upcomingmovie-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 15px;
  position: relative;
  text-align: center;
}

.upcomingmovie-card {
  border-radius: 8px;
}

.upcomingmovie-img {
  width: 220px;
  height: 340px;
  margin: auto;
  padding-top: 15px;
}

.upcoming_title {
  min-height: 70px;
  padding-top: 10px;
}

.upcoming_category {
  min-height: 40px;
  padding-bottom: 10px;
}

.upcoming_detail {
  min-height: 50px;
  padding-bottom: 10px;
}
/* Month */
.home_month-wrap {
  height: 100px;
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.home_month button {
  flex: 2;
  width: 120px;
  height: 42px;
  margin-right: 5px;
  border: 1px solid #5f2eea;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: rgba(95, 46, 234, 1);
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

/* button month */

.home_month-wrap {
  height: 100px;
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.home_month button {
  flex: 2;
  width: 120px;
  height: 42px;
  margin-right: 5px;
  /* borer: 1px solid #5f2eea; */
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 700;
  /* color: rgba(95, 46, 234, 1); */
  border-radius: 4px;
  /* background-color: #fff; */
  cursor: pointer;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:visited {
  background-color: #5f2eea !important;
  color: #fff !important;
}

.btn-outline-primary {
  background-color: #fff !important;
  color: #5f2eea !important;
}
/* akhir month butto */
.home_upcoming-movie__main {
  background-color: #fff;
  margin: 10px;
  overflow: hidden;
  display: flex;
  border: 1px bold rgba(255, 255, 255, 1);
  display: flex;
  overflow-x: auto;
  justify-content: space-evenly;
  padding-bottom: 7%;
}

.home_card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(222, 222, 222, 1);
  border-radius: 10px;
  align-items: center;
}

.home_card .home_header {
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 30px;
}

.home_card .home_content {
  text-align: center;
  padding-bottom: 20px;
  padding: 15px;
}

.home_card .home_content h3 {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: rgba(20, 20, 43, 1);
  margin-bottom: 10px;
}

.home_card .home_content p {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: rgba(160, 163, 189, 1);
  margin-bottom: 50px;
}

.home_card button {
  width: 160px;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #5f2eea;
  border: 1px solid #5f2eea;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
}

/* END OF MAIN */

@media only screen and (max-width: 768px) {
  /* HOME 1 */

  .home_hero {
    text-align: center;
    margin-bottom: 10px;
  }

  .home_hero-one img {
    width: 250px;
    padding-bottom: 50px;
  }

  .home_hero-two img {
    width: 345px;
  }

  #home1 {
    padding-top: 150px;
  }
}
