@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800;900&display=swap");

body {
  font-family: "Mulish", sans-serif;
}

#signin {
  background-color: white;
  min-height: 100vh;
}

.signin_container {
  border: 1px solid #dedede;
}

/* LEFT */
.signin_banner-filter {
  background: rgba(43, 21, 107, 0.8);
  min-height: 1000px;
  background-repeat: no-repeat;
  justify-content: center;
}

.signin_banner {
  background-image: url("../../assets/img1/image1.png");
  background-repeat: no-repeat;
  min-height: 1000px;
  padding: 0;
}

.signin_banner img {
  width: 80%;
  align-self: center;
}

/* RIGHT */
.signin_brand {
  display: none;
}

.signin_form {
  width: 38%;
}

.signin_form-title {
  padding-top: 20px;
}

.signin_form-title h1 {
  color: rgba(18, 18, 18, 1);
  font-size: 48px;
  font-weight: 700;
}

.signin_form-title p {
  font-size: 18px;
  font-weight: 400;
  color: rgba(170, 170, 170, 1);
}

.signin_form-box {
  font-size: 16px;
  font-weight: 400;
  color: rgba(78, 75, 102, 1);
}

.signin_form-box input {
  border: 1px solid rgba(222, 222, 222, 1);
  border-radius: 16px;
  padding: 20px;
}

.signin_form-box {
  color: rgba(78, 75, 102, 1);
}

.input-icon i {
  position: absolute;
  left: 90%;
  top: 40%;
}

.signin_form-box button {
  border-radius: 16px;
  padding: 24px;
}

.signin-link {
  font-weight: 500;
}

@media (max-width: 767.98px) {
  .signin_container {
    border: none;
    margin: 5px;
  }

  .signin_banner {
    display: none;
    padding-top: 20%;
  }

  .signin_form-title h1 {
    font-size: 26px;
  }

  .signin_form-title p {
    font-size: 15px;
  }

  .signin_form {
    width: 100%;
  }

  .signin_form-title img {
    width: 78px;
    display: inline;
    padding: 30px 0;
  }

  .signin_form-box {
    border-radius: 16px;
    width: 97%;
  }

  .signin_form-box input {
    padding: 18px;
  }

  .signin_form-box button {
    padding: 16px;
  }
}
