@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800;900&display=swap");

body {
  font-family: "Mulish", sans-serif;
  /* background-color: #f5f6f8; */
}
.detail-information_card {
  margin-top: 30px;
  background-color: #fff;
  height: 368px;
  border-radius: 24px;
  border-color: #fff;
}
.detail-information_card-body {
  padding: 35px;
}
.privacy_card {
  margin-top: 30px;
  background-color: #fff;
  height: 387px;
  border-radius: 24px;
  border-color: #fff;
}
.privacy_card-body {
  padding: 35px;
}
.detail_title {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400px;
  color: #14142b;
}
.detail_label-input {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #4e4b66;
  margin-top: 20px;
}
.detail_input {
  width: 100%;
  height: 64px;
  border: 1px solid #dedede;
  background-color: #fcfdfe;
  border-radius: 16px;
  padding: 10px 20px;
  margin-top: 5px;
}
.update_button {
  width: 360px;
  height: 56px;
  margin: auto;
  background-color: #5f2eea;
  border-radius: 16px;
  color: #fff;
}
