@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800;900&display=swap");

body {
  font-family: "Mulish", sans-serif;
}

/* input search dropdown in navbar */
.navbar_form-rounded {
  border-radius: 1rem;
  width: 250px;
}

.navbar_input-icons i {
  position: absolute;
}

.navbar_input-icon {
  text-align: center;
}

.fa-search {
  color: #9ca3af;
}

.navbar_dropdown-item {
  display: inline-block;
}

.navbar_dropdown-menu {
  background-color: none;
  width: 100px;
  min-width: 300px;
  border: 0;
  right: 0;
}

.navbar_in-dropmenu {
  display: none;
}

.user_image {
  width: 70px;
}

@media (max-width: 767.98px), (max-width: 991.98px) {
  /* Navbar 1 */

  /* input search dropdown in navbar */

  .navbar_dropdown-search {
    display: none;
  }

  .navbar_fa-search {
    display: none;
  }

  /* menu profile when burgermenu */
  .navbar-dropdown-profile {
    display: none;
  }

  .navbar_item-show {
    display: content;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    font: bold;
    color: black;
  }

  /* Akhir Navbar 1 */
}
