@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800;900&display=swap");

body {
  font-family: "Mulish", sans-serif;
}

/* Navbar 1 */

.navbar {
  font-size: 16px;
  font-weight: 600;
  color: rgba(65, 65, 65, 1);
}

/* brand */
.navbar-brand img {
  width: 120px;
}

/* input search dropdown in navbar */
.navbar_form-rounded {
  border-radius: 1rem;
  width: 250px;
}

.navbar_input-icons i {
  position: absolute;
}

.navbar_input-icon {
  text-align: center;
}

.fa-search {
  color: #9ca3af;
}

.navbar_dropdown-item {
  display: inline-block;
}

.navbar_dropdown-menu {
  background-color: none;
  width: 100px;
  min-width: 300px;
  border: 0;
  right: 0;
}

.navbar_in-dropmenu {
  display: none;
}

/* Akhir Navbar 1 */

@media (max-width: 767.98px), (max-width: 991.98px) {
  /* Navbar 1 */

  /* input search when burgermenu */
  .navbar_in-dropmenu-wrap {
    display: flex;
    width: 30px;
    padding-right: 10px;
  }

  .navbar_input-icon-show {
    text-align: center;
  }

  .navbar_form-rounded-show {
    border-radius: 5px;
    padding: 25px;
  }

  .navbar_in-dropmenu {
    display: contents;
    margin: 10px 0;
    width: 50%;
  }

  /* input search dropdown in navbar */

  .navbar_dropdown-search {
    display: none;
  }

  .navbar_fa-search {
    display: none;
  }

  /* menu profile when burgermenu */
  .navbar-dropdown-profile {
    display: none;
  }

  .navbar_item-show {
    display: content;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    font: bold;
    color: black;
  }

  /* Akhir Navbar 1 */
}
