@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800;900&display=swap");

body {
  font-family: "Mulish", sans-serif;
}

/* Footer */

#footer {
  /* padding-top: 50px; */
}

footer {
  color: rgba(110, 113, 145, 1);
}

footer a {
  font-size: 14px;
  color: rgba(78, 75, 102, 1);
  text-decoration: none;
}

.footer_brand img {
  width: 170px;
}

.footer_brand {
  font-size: 16px;
}

.footer_copyright p {
  font-size: 14px;
}

/* akhir Footer */

@media only screen and (max-width: 768px) {
  /* footer */
  .footer_brand img {
    padding: 20px 10px;
    display: flex;
    width: 200px;
  }

  .footer_brand p {
    display: flex;
    text-align: start;
    padding: 0 10px;
  }

  .footer_explore h5 {
    display: flex;
    padding: 20px 10px;
  }

  .footer_explore ul {
    display: flex;
    padding-bottom: 5px;
  }

  .footer_explore ul li a {
    padding: 0 10px;
  }

  .footer_sponsor h5 {
    display: flex;
    padding: 20px 10px;
  }

  .footer_sponsor ul {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
  }

  .footer_sponsor ul li img {
    padding: 0 10px;
    height: 40px;
  }

  .footer_followus h5 {
    display: flex;
    padding: 20px 10px;
  }

  .footer_followus ul {
    display: flex;
    padding-bottom: 5px;
    padding: 0 10px;
    justify-content: space-between;
  }

  .footer_folowus ul li img {
    padding: 0 20px;
    padding-right: 20px;
  }

  .footer_followus ul li a {
    padding: 0 10px;
    display: none;
  }

  .footer_copyright h5 {
    padding: 0;
  }

  /* Akhir footer */
}
