@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800;900&display=swap");

body {
  font-family: "Mulish", sans-serif;
}

/* MAIN */

main {
  background-color: rgba(245, 246, 248, 1);
}

.movie_detail-card {
  width: 20rem;
  border-radius: 10px;
  align-items: center;
}

.img-top {
  width: 250px;
  /* height: 280px; */
  padding: 15px 0;
}

#moviedetail {
  padding-top: 30px;
  background-color: #fff;
}

.moviedetail_wrap {
  padding: 0 100px;
  text-align: start;
}

.moviedetail_synopsis,
.detail_synopsis span {
  align-items: start;
}

.moviedetail_wrap p {
  line-height: normal;
  padding-bottom: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100px;
  white-space: nowrap;
}

.moviedetail_wrap span {
  text-align: start;
}

#showtimes {
  background-color: rgba(245, 246, 248, 1);
  margin: 30px 0;
  padding: 100px 0;
}

/* DATE AND LOCATION */
/* date */
.showtimes_title {
  padding-bottom: 20px;
}

.showtimes_date {
  text-align: end;
}

.showtimes_date form input {
  width: 280px;
  height: 50px;
  padding-left: 10px;
  border: 1px solid #dedede;
  background-color: #eff0f6;
  font-size: 16px;
  font-weight: 600;
  color: rgba(78, 75, 102, 1);
  border-radius: 5px;
  margin: auto;
}

/* akhir date */

/* location */
.showtimes_location {
  text-align: start;
}

.showtimes_location form select {
  width: 280px;
  height: 50px;
  padding-left: 30px;
  border: 1px solid #dedede;
  background-color: #eff0f6;
  font-size: 16px;
  font-weight: 600;
  color: rgba(78, 75, 102, 1);
  border-radius: 5px;
  margin: auto;
}

.showtimes_location img {
  width: 15px;
  height: 15px;
  bottom: -17px;
  right: -25px;
  position: relative;
}

.moviedetail_location img {
  position: absolute;
}
/* akhir location */
/* END OF DATE AND LOCATION */

/* schedule */
.schedule_card {
  width: 410px;
  height: 330px;
}

.shcedule_card-body {
  width: 410px;
}

.moviedetail_btn-1 {
  height: 40px;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: #f7f7fc;
  background: #5f2eea;
  border: none;
  border-radius: 4px;
  line-height: 30px;
  vertical-align: middle;
  background-color: rgba(42, 0, 162, 1);
  box-shadow: 0px 8px 24px rgba(95, 46, 234, 0.24);
}

/* akhir schedule  */
/* AKHIR MAIN */

@media (max-width: 767.98px), (max-width: 995.98px) {
  /* MAIN */
  .movie_detail-card {
    margin: auto;
  }

  .moviedetail_synopsis p {
    text-overflow: ellipsis;
  }

  .img-top {
    width: 200px;
    /* height: 280px; */
    padding: 15px 0;
  }

  /* DATE AND LOCATION */
  /* date */
  .showtimes_date {
    text-align: center;
    align-items: center;
  }

  .showtimes_date form input {
    text-align: center;
  }

  .moviedetail_wrap {
    text-align: start;
  }

  .moviedetail_synopsis,
  .detail_synopsis span {
    align-items: start;
  }

  /* akhir date */

  /* location */

  .showtimes_location {
    align-self: center;
  }

  .showtimes_location-flex {
    justify-content: center;
    text-align: center;
    padding-top: 15px;
    margin: 0px 10px;
    left: 10px;
  }

  .moviedetail_dropdown-location {
    padding-top: 10px;
  }

  /* Schedule */

  .schedule_column {
    padding: 10px;
  }

  .schedule_card {
    align-items: center;
    width: 330px;
    height: 330px;
  }

  .shcedule_card-body {
    width: 330px;
  }

  .premiere_brand {
    justify-content: center;
  }

  .premiere_brand img {
    width: 100px;
  }

  .premiere_name h4 {
    display: none;
  }

  .premiere_name p {
    margin-top: 20px;
    line-height: 5px;
    color: rgba(170, 170, 170, 1);
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    text-overflow: ellipsis;
  }

  .premiere_name {
    text-align: center;
  }
  /* akhir schedule */

  /* AKHIR MAIN */
}

@media (max-width: 1060px), (max-width: 1200px) {
  .movie_detail-card {
    width: 16rem;
  }

  .img-top {
    width: 200px;
    /* height: 280px; */
    padding: 15px 0;
  }

  /* Schedule */
  .schedule_column {
    padding: 5px;
  }

  .schedule_card {
    width: 330px;
  }

  .shcedule_card-body {
    width: 303px;
  }
}
