@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800;900&display=swap");

body {
  font-family: "Mulish", sans-serif;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:visited,
.btn-outline-primary {
  background-color: #5f2eea !important;
  color: #fff !important;
}

/* membership */
main {
  padding-bottom: 30px;
}

#membership {
  width: 80%;
  min-height: 350px;
  border: 1px solid rgba(186, 186, 186, 0.4);
  border-radius: 5px;
  margin: auto;
  box-shadow: 0px 0px 10px 5px rgba(186, 186, 186, 0.5);
  clip-path: inset(0px -15px -15px -15px);
}

#membership .container {
  text-align: center;
}

.membership_img {
  margin: auto;
  width: 300px;
}

.membership_email .input {
  border-radius: 5px;
  border: 1px solid rgba(222, 222, 222, 1);
  padding: 15px 60px 15px 24px;
  box-sizing: border-box;
  color: #a0a3bd;
}

.membership_email .submit {
  border-radius: 5px;
  border: 1px solid rgba(222, 222, 222, 1);
  padding: 15px 24px 15px 24px;
  box-sizing: border-box;
  background-color: #5f2eea;
  color: #fff;
}

footer .membership_footer {
  width: 400px;
  color: rgba(110, 113, 145, 1);
}

footer .membership_footer p {
  font-size: 14px;
  color: rgba(110, 113, 145, 1);
  text-align: center;
}

/* akhir membership */

@media (max-width: 767.98px), (max-width: 991.98px) {
  .membership_img {
    width: 230px;
  }

  .membership_email .input {
    width: 250px;
    margin-bottom: 10px;
    font-size: 12px;
  }

  .membership_email .submit {
    width: 250px;
    font-size: 12px;
  }

  footer .membership_footer {
    width: 200px;
    color: rgba(110, 113, 145, 1);
  }

  footer .membership_footer p {
    padding: 25px;
    font-size: 12px;
  }
}
