@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Mulish:wght@400;600;700&family=Open+Sans&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* STYLE */

body {
  /* width: 100%; */
  background-color: rgb(211, 210, 210);
}

.container {
  /* width: 100%; */
  background-color: white;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */

nav {
  overflow: hidden;
  padding: 2% 2% 1%;
  box-sizing: border-box;
  position: fixed;
  display: block;
  background-color: white;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  font-family: "Mulish";
  font-size: 16px;
  display: block;
  padding: 20px 20px 20px 40px;
  text-decoration: none;
  color: rgba(65, 65, 65, 1);
}

li a:hover:not(.active) {
  text-decoration: underline;
}

.active {
  font-size: 14px;
  float: right;
  height: 10px;
  border-radius: 5px;
  color: white;
  background-color: rgba(95, 46, 234, 1);
}

.nav-right {
  float: right;
  display: flex;
}

.nav-profile-img {
  order: 1;
}

.nav-search {
  padding-top: 5px;
  padding-right: 20px;
  box-sizing: border-box;
}

.nav-search form {
  margin: "auto";
  max-width: "300px";
}

.nav-right form input {
  border-radius: 25px;
  border: 1px solid rgba(222, 222, 222, 1);
  padding: 10px 60px 10px 24px;
  box-sizing: border-box;
  color: #a0a3bd;
  background-color: #fff;
}

.nav-right form button {
  /* border-radius: 5px; */
  border: 1px solid;
  background-color: #fff;
  font-size: 14px;
  color: #fff;
  box-sizing: border-box;
  padding-top: 15px;
}

.fa fa-search {
  font-size: 19px;
  color: rgba(65, 65, 65, 1);
}

/* END OF NAVBAR */

/* MAIN */
.main {
  width: 100%;
  background-color: #d6d8e7;
  padding-top: 200px;
}

.guide {
  width: 100%;
  padding-left: 5%;
  padding-right: 3%;
  padding-top: 3%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.guide-left {
  font-family: "Mulish", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}

.guide-right {
  display: flex;
}

.guide-right .input1 {
  width: 100px;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  color: rgba(78, 75, 102, 1);
  box-sizing: border-box;
  margin-right: 10px;
}

.guide-right .input2 {
  width: 200px;
  height: 40px;
  margin-top: 5px;
  border-radius: 10px;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  color: rgba(78, 75, 102, 1);
  border: 1px solid rgba(78, 75, 102, 1);
  box-sizing: border-box;
}

/* MONTH BUTTON */
.container-month {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 40px;
  overflow: hidden;
  overflow-x: auto;
  justify-content: flex-end;
  padding-left: 3%;
  /* padding-right: 3%; */
  box-sizing: border-box;
  white-space: nowrap;
}

.month {
  width: 135%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.month button {
  /* flex: 2; */
  width: 200px;
  height: 42px;
  margin-right: 5px;
  border: 1px solid #5f2eea;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: rgba(95, 46, 234, 1);
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.month button:hover {
  background-color: #5f2eea;
  color: #fff;
}
/* END OF MONTH BUTTON */

/* VIEW ALL MOVIE */

.viewall-movie {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px bold rgba(255, 255, 255, 1);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  /* justify-content: space-evenly; */
}

.viewall-satu {
  width: 80%;
  background-color: #fff;
  display: flex;
  margin: auto;
  flex-direction: row;
  border: 1px bold rgba(255, 255, 255, 1);
  box-shadow: 5px 10px rgba(186, 186, 186, 0.3);
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
  overflow-x: auto;
}

.viewall-dua {
  width: 80%;
  background-color: #fff;
  display: flex;
  margin: auto;
  flex-direction: row;
  border: 1px bold rgba(255, 255, 255, 1);
  box-shadow: 5px 10px rgba(186, 186, 186, 0.3);
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
  overflow-x: auto;
}

.card {
  /* display: flex; */
  /* flex-direction: column; */
  /* flex: 1; */
  width: fit-content;
  height: fit-content;
  border: 1px solid rgba(222, 222, 222, 1);
  border-radius: 10px;
  align-items: center;
}

.card .header {
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 5px;
}
.card .header img {
  width: 100%;
}

.card .content {
  text-align: center;
  padding-bottom: 20px;
  padding: 15px;
}

.card .content h3 {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: rgba(20, 20, 43, 1);
  margin-bottom: 10px;
}

.card .content p {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: rgba(160, 163, 189, 1);
  margin-bottom: 50px;
}

.card button {
  width: 160px;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #5f2eea;
  border: 1px solid #5f2eea;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
}

.content button:hover {
  background-color: #5f2eea;
  color: #fff;
}
/* END OF VIEW ALL MOVIE */

/* BUTTON PAGE */
.button-page {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.button-page button {
  width: 42px;
  height: 42px;
  margin-right: 5px;
  border: 1px solid #5f2eea;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: rgba(95, 46, 234, 1);
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.button-page button a {
  text-decoration: none;
}

.button-page button:hover {
  background-color: #5f2eea;
  color: #fff;
}
/* END OF BUTTON PAGE */

/* END OF MAIN */

/* FOOTER */
.container-footer {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 2%;
  box-sizing: border-box;
}

/* upper footer */
.upper-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  padding: 2%;
}

.brand {
  flex: 4;
  float: left;
}

.brand-image {
  padding-bottom: 10px;
}

.brand-desc {
  font-family: "Mulish";
  font-size: 16px;
}

.explore {
  flex: 2;
  padding-top: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Mulish";
  font-size: 16px;
  align-self: flex-start;
  justify-content: left;
}

.explore-title {
  padding-bottom: 20px;
  box-sizing: border-box;
  font-weight: 700;
}

.wrap-explore a {
  text-decoration: none;
  box-sizing: border-box;
  color: rgba(78, 75, 102, 1);
  font-size: 16px;
}

.wrap-explore a:hover {
  text-decoration: underline;
}

.sponsor {
  flex: 3;
  padding-top: 10px;
  box-sizing: border-box;
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 700;
}

.sponsor-title {
  padding-bottom: 20px;
  box-sizing: border-box;
}

.follow {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  box-sizing: border-box;
  font-family: "Mulish";
  font-size: 16px;
}

.follow-title {
  padding-bottom: 20px;
  box-sizing: border-box;
  font-weight: 700;
}

.wrap-follow {
  font-family: "Mulish";
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.wrap-set {
  display: inline-flex;
  align-items: center;
  padding-bottom: 8px;
  padding-top: 0;
  box-sizing: border-box;
}

.wrap-set span {
  padding-left: 10px;
  font-family: "Mulish";
  font-size: 16px;
  color: rgba(78, 75, 102, 1);
}

/* lower footer */
.lower-footer {
  text-align: center;
  font-family: "Mulish";
  font-size: 14px;
  color: rgba(78, 75, 102, 1);
}
