@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Mulish:wght@400;600;700&family=Open+Sans&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* STYLE */

.viewall_container {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

/* MAIN */
.viewall_main {
  width: 100%;
  background-color: #d6d8e7;
  padding-top: 200px;
}

.viewall_guide {
  width: 100%;
  padding-left: 5%;
  padding-right: 3%;
  padding-top: 3%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.viewall_guide-left {
  font-family: "Mulish", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}

.viewall_guide-right {
  display: flex;
}

.viewall_guide-right .viewall_input1 {
  width: 100px;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  color: rgba(78, 75, 102, 1);
  box-sizing: border-box;
  margin-right: 10px;
}

.viewall_guide-right .viewall_input2 {
  width: 200px;
  height: 40px;
  margin-top: 5px;
  border-radius: 10px;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  color: rgba(78, 75, 102, 1);
  border: 1px solid rgba(78, 75, 102, 1);
  box-sizing: border-box;
}

/* MONTH BUTTON */
.viewall_container-month {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 40px;
  overflow: hidden;
  overflow-x: auto;
  justify-content: flex-end;
  padding-left: 3%;
  /* padding-right: 3%; */
  box-sizing: border-box;
  white-space: nowrap;
}

.viewall_month {
  width: 135%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.viewall_month button {
  /* flex: 2; */
  width: 200px;
  height: 42px;
  margin-right: 5px;
  border: 1px solid #5f2eea;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: rgba(95, 46, 234, 1);
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.viewall_month button:hover {
  background-color: #5f2eea;
  color: #fff;
}
/* END OF MONTH BUTTON */

/* VIEW ALL MOVIE */

.viewall_movie {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px bold rgba(255, 255, 255, 1);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  /* justify-content: space-evenly; */
}

.viewall-satu {
  width: 80%;
  background-color: #fff;
  display: flex;
  margin: auto;
  flex-direction: row;
  border: 1px bold rgba(255, 255, 255, 1);
  box-shadow: 5px 10px rgba(186, 186, 186, 0.3);
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
  overflow-x: auto;
}

.viewall-dua {
  width: 80%;
  background-color: #fff;
  display: flex;
  margin: auto;
  flex-direction: row;
  border: 1px bold rgba(255, 255, 255, 1);
  box-shadow: 5px 10px rgba(186, 186, 186, 0.3);
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
  overflow-x: auto;
}

.viewall_card {
  /* display: flex; */
  /* flex-direction: column; */
  /* flex: 1; */
  width: fit-content;
  height: fit-content;
  border: 1px solid rgba(222, 222, 222, 1);
  border-radius: 10px;
  align-items: center;
}

.viewall_card .viewall_header {
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 5px;
}
.viewall_card .viewall_header img {
  width: 100%;
}

.viewall_card .content {
  text-align: center;
  padding-bottom: 20px;
  padding: 15px;
}

.viewall_card .viewall_content h3 {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: rgba(20, 20, 43, 1);
  margin-bottom: 10px;
}

.viewall_card .viewall_content p {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: rgba(160, 163, 189, 1);
  margin-bottom: 50px;
}

.viewall_card button {
  width: 160px;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #5f2eea;
  border: 1px solid #5f2eea;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
}

.viewall_content button:hover {
  background-color: #5f2eea;
  color: #fff;
}
/* END OF VIEW ALL MOVIE */

/* BUTTON PAGE */
.viewall_button-page {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.viewall_button-page button {
  width: 42px;
  height: 42px;
  margin-right: 5px;
  border: 1px solid #5f2eea;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: rgba(95, 46, 234, 1);
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.viewall_button-page button a {
  text-decoration: none;
}

.viewall_button-page button:hover {
  background-color: #5f2eea;
  color: #fff;
}
/* END OF BUTTON PAGE */

/* END OF MAIN */

/* FOOTER */
.container-footer {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 2%;
  box-sizing: border-box;
}

/* upper footer */
.upper-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-items: center;
  padding: 2%;
}

.brand {
  flex: 4;
  float: left;
}

.brand-image {
  padding-bottom: 10px;
}

.brand-desc {
  font-family: "Mulish";
  font-size: 16px;
}

.explore {
  flex: 2;
  padding-top: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Mulish";
  font-size: 16px;
  align-self: flex-start;
  justify-content: left;
}

.explore-title {
  padding-bottom: 20px;
  box-sizing: border-box;
  font-weight: 700;
}

.wrap-explore a {
  text-decoration: none;
  box-sizing: border-box;
  color: rgba(78, 75, 102, 1);
  font-size: 16px;
}

.wrap-explore a:hover {
  text-decoration: underline;
}

.sponsor {
  flex: 3;
  padding-top: 10px;
  box-sizing: border-box;
  font-family: "Mulish";
  font-size: 16px;
  font-weight: 700;
}

.sponsor-title {
  padding-bottom: 20px;
  box-sizing: border-box;
}

.follow {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  box-sizing: border-box;
  font-family: "Mulish";
  font-size: 16px;
}

.follow-title {
  padding-bottom: 20px;
  box-sizing: border-box;
  font-weight: 700;
}

.wrap-follow {
  font-family: "Mulish";
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.wrap-set {
  display: inline-flex;
  align-items: center;
  padding-bottom: 8px;
  padding-top: 0;
  box-sizing: border-box;
}

.wrap-set span {
  padding-left: 10px;
  font-family: "Mulish";
  font-size: 16px;
  color: rgba(78, 75, 102, 1);
}

/* lower footer */
.lower-footer {
  text-align: center;
  font-family: "Mulish";
  font-size: 14px;
  color: rgba(78, 75, 102, 1);
}
