@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800;900&display=swap");

body {
  font-family: "Mulish", sans-serif;
  background-color: #d6d8e7;
}

/* Navbar 1 */

.navbar {
  font-size: 16px;
  font-weight: 600;
  color: rgba(65, 65, 65, 1);
}

/* brand */
.navbar-brand img {
  width: 120px;
}

/* input search dropdown in navbar */
.navbar_form-rounded {
  border-radius: 1rem;
}

.navbar_input-icons i {
  position: absolute;
}

.navbar_input-icon {
  text-align: center;
}

.fa-search {
  color: #9ca3af;
}

.navbar_dropdown-item {
  display: inline-block;
}

.navbar_dropdown-menu {
  width: 100px;
  min-width: 300px;
  border: 0;
  right: 0;
}

.navbar_in-dropmenu {
  display: none;
}

/* Akhir Navbar 1 */

/* MAIN */

/* View All Filter */
#viewall_filter {
  margin-top: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  /* min-height: 90px; */
}

#viewall_filter h4 {
  margin: 5px;
  color: black;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}

#viewall_filter form select {
  width: 100px;
  height: 40px;
  margin: 5px;
  border-radius: 10px;
  font-size: 16px;
  color: rgba(78, 75, 102, 1);
  border: 2px solid white;
  box-sizing: border-box;
  margin-right: 10px;
}

#viewall_filter input {
  width: 300px;
  height: 40px;
  margin: 5px;
  border-radius: 10px;
  color: rgba(78, 75, 102, 1);
  border: 2px solid white;
  box-sizing: border-box;
  padding: 6px 12px;
}

/* Akhir View All Filter */

/* Month */

.home_month-wrap {
  height: 100px;
  white-space: nowrap;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.home_month button {
  flex: 2;
  width: 120px;
  height: 42px;
  margin-right: 5px;
  border: 1px solid #5f2eea;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: rgba(95, 46, 234, 1);
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:visited {
  background-color: #5f2eea !important;
  color: #fff;
}
/* Akhir Month */

/* Viewall */
#viewall {
  background-color: #fff;
  width: 80%;
  margin: auto;
  border-radius: 8px;
  text-align: space-between;
}
/* Akhir View All */

/* Pagination */
#pagination {
  padding: 80px;
  min-height: 200px;
}

#pagination button {
  background-color: #fff;
  border: 1px solid #fff;
}

#pagination button a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

#pagination button:hover a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}
/* Akhir Pagination */

/* AKHIR MAIN */

/* Footer */

#footer {
  margin-top: 0px;
}

footer {
  color: rgba(110, 113, 145, 1);
}

footer a {
  font-size: 14px;
  color: rgba(78, 75, 102, 1);
  text-decoration: none;
}

.footer_brand img {
  width: 170px;
}

.footer_brand {
  font-size: 16px;
}

.footer_copyright p {
  font-size: 14px;
}

/* akhir Footer */

@media (max-width: 767.98px), (max-width: 991.98px) {
  /* Navbar 1 */

  /* input search when burgermenu */
  .navbar_in-dropmenu-wrap {
    display: flex;
    width: 30px;
    padding-right: 10px;
  }

  .navbar_input-icon-show {
    text-align: center;
  }

  .navbar_form-rounded-show {
    border-radius: 5px;
    padding: 25px;
  }

  .navbar_in-dropmenu {
    display: contents;
    margin: 10px 0;
    width: 50%;
  }

  /* input search dropdown in navbar */

  .navbar_dropdown-search {
    display: none;
  }

  .navbar_fa-search {
    display: none;
  }

  /* menu profile when burgermenu */
  .navbar-dropdown-profile {
    display: none;
  }

  .navbar_item-show {
    display: content;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    font: bold;
    color: black;
  }

  /* Akhir Navbar 1 */

  /* viewall filter */

  .viewall_filter-wrap {
    display: flex;
    flex-direction: column;
  }

  #viewall_filter form {
    text-align: start;
  }

  #viewall_filter input {
    width: 250px;
  }
  /* Akhir viewall filter */

  /* Viewall */
  #viewall {
    background-color: #d6d8e7;
  }

  .viewall-card {
    width: 2rem;
  }

  .viewall_border-card .card {
    border-radius: 10px;
  }
  /* Akhir Viewall */

  /* footer */
  .footer_brand img {
    padding: 20px 10px;
    display: flex;
    width: 200px;
  }

  .footer_brand p {
    display: flex;
    text-align: start;
    padding: 0 10px;
  }

  .footer_explore h5 {
    display: flex;
    padding: 20px 10px;
  }

  .footer_explore ul {
    display: flex;
    padding-bottom: 5px;
  }

  .footer_explore ul li a {
    padding: 0 10px;
  }

  .footer_sponsor h5 {
    display: flex;
    padding: 20px 10px;
  }

  .footer_sponsor ul {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
  }

  .footer_sponsor ul li img {
    padding: 0 10px;
    height: 40px;
  }

  .footer_followus h5 {
    display: flex;
    padding: 20px 10px;
  }

  .footer_followus ul {
    display: flex;
    padding-bottom: 5px;
    padding: 0 10px;
    justify-content: space-between;
  }

  .footer_folowus ul li img {
    padding: 0 20px;
    padding-right: 20px;
  }

  .footer_followus ul li a {
    padding: 0 10px;
    display: none;
  }

  .footer_copyright h5 {
    padding: 0;
  }

  /* Akhir footer */
}
